spring:
  application:
    name: sample
  config:
    import: optional:aws-secretsmanager:/secret/sample_pdmsdapne2

logging:
  level:
    root: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
